
.Calendar .day {
    /* background-color: white; */
    height: 8rem;
}

/* .Calendrier .day.weekday {
    background-color: #ccc;
} */

.Calendar .monthGrid th {
    width: 14%;
    text-align: center;
}

.Calendar .monthGrid td.day {
    border: 1px solid black;
}